@{
    ViewData["Title"] = "მთავარი გვერდი";
}

<div class="text-center">
    <h1 class="display-4">მოგესალმებით</h1>
    <p>მართეთ თქვენი ფილმების სია მარტივად MovieTracker-ით.</p>
    <a asp-controller="Movies" asp-action="Index" class="btn btn-primary btn-lg mt-3">ფილმების სია</a>
</div>
